<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${message!=null}" th:text="${message}"></div>
<form th:action="@{/registration}" method="post">
    <div><label> name: <input type="text" name="username"></label></div>
    <div><label> surname: <input type="text" name="surname"></label></div>
    <div><label> login: <input type="text" name="login"></label></div>
    <div><label> password: <input type="text" name="password"></label></div>
    <div><input type="submit" value="зарегистрироваться"></div>
</form>
</body>
</html>